/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/* Variables */

:root {
  --color-base: #001524;
  --color-white: #ffffff;
  --color-darkgrayishblue: #797D80;
  --color-verydarkred: #1C1919;
  --color-vividred: #DE012C;

  --color-verydark: #262827;
  --color-lightgrayishcyan: #C0E9D7;
  --color-verylightyellow: #FFE98C;
  --color-lightgrayishviolet: #D7D4DD;
  --color-strongred: #CD273D;
  --color-lightgrayishorange: #FDFAF5;
  --color-red: #c20127;

  --color-darkgrayish: #99A1A7;
  --color-grayishred: #D6D2D3;
  --color-grayishpink: #cccacb;
  --color-gray: #bfbcbd;
}

body {
  margin: 0;
  padding: 0;
  min-width: 1366px;
  font-size: 14px;
  font-family: 'M PLUS 1p', 'Arial', sans-serif;
  font-weight: 400;
  line-height: 20px;
  color: var(--color-base);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  width: 1366px;
  padding: 98px;
}

/* Link */

.link {
  color: var(--color-base);
  text-decoration: none;
  cursor: pointer;
}

.link:visited {
  color: var(--color-darkgrayish);
}

.link:hover {
  color: var(--color-vividred);
}

.link:focus,
.link:active {
  color: var(--color-strongred);
}

/* Buttons */

.button {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  border: 0 none;
  background: none;
  border-radius: 4px;
}

.product-info__button {
  background-color: var(--color-vividred);
  color: var(--color-white);
  width: 100%;
  height: 52px;
}

.product-info__button:hover,
.product-info__button:focus,
.product-info__button:active {
  -webkit-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

.product-info__button:hover {
  background-color: var(--color-red);
}

.product-info__button:focus,
.product-info__button:active {
  border: 1px solid var(--color-base);
  background-color: var(--color-vividred);
}

.product-info__button:disabled {
  border: 1px solid var(--color-grayishpink);
  background-color: var(--color-white);
  color: var(--color-gray);
}

.product-info__button--border {
  border: 1px solid var(--color-vividred);
  background-color: var(--color-white);
  color: var(--color-verydarkred);
}

.product-info__button--border:hover {
  border: 1px solid var(--color-base);
  background-color: var(--color-base);
  color: var(--color-white);
}

.product-info__button--border:focus,
.product-info__button--border:active {
  border: 2px solid var(--color-base);
  background-color: var(--color-white);
  color: var(--color-verydarkred);
}

.product-info__button--border:disabled {
  border: 1px solid var(--color-grayishpink);
  background-color: var(--color-white);
  color: var(--color-gray);
}

.product-info__button--border span {
  color: var(--color-vividred);
}

.product-info__button--border:disabled span {
  color: var(--color-gray);
}

/* Title */

.product-info__title {
  margin: 0;
  padding: 0;
  font-family: 'M PLUS 1p', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: var(--color-base);
}

.product-info__subtitle {
  margin: 0;
  padding: 0;
  font-family: 'M PLUS 1p', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 15px;
}

.card {
  display: -ms-grid;
  display: grid;
      -ms-grid-rows: auto 60px auto;
          grid-template-areas:
    "pictures info"
    "descriptions descriptions";
  -ms-grid-columns: 700px 70px 1fr;
  grid-template-columns: 700px 1fr;
  grid-column-gap: 70px;
  grid-row-gap: 60px;
}

.product__img-container {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: pictures;
}

.product-info {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: info;
}

.product__description-container {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: descriptions;
}

.img-carousel {
  margin: 0;
  padding: 0;
  list-style: none;

  display: -ms-grid;

  display: grid;
  -ms-grid-columns: 170px 30px 1fr;
  grid-template-columns: 170px 1fr;
  -ms-grid-rows: 206px 15px 206px 15px 206px 15px 206px;
  grid-template-rows: repeat(4, 206px);
  grid-column-gap: 30px;
  grid-row-gap: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.img-carousel > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.img-carousel > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.img-carousel > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.img-carousel > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.img-carousel > *:nth-child(5) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.img-carousel > *:nth-child(6) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.img-carousel > *:nth-child(7) {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}

.img-carousel > *:nth-child(8) {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
}

.img-carousel__item:nth-child(1) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1 / 5;
}

.img-carousel__item:nth-child(2) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.img-carousel__item:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.img-carousel__item:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
}

.img-carousel__item:nth-child(5) {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
}

.img-carousel__item img {
  width: 168px;
  height: 204px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}

.img-carousel__item--active img {
  width: 498px;
  height: 867px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}

.img-carousel__item--current {
  border: 1px solid var(--color-base);
}

/* Available-reviews-block */

.product-info__available-reviews-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 40px;
  margin-top: 25px;
}

.product-info__available {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  margin-right: 30px;
}

.product-info__available::before {
  position: absolute;
  content: '';
  display: block;
  width: 15px;
  height: 9px;
  left: 0;
  top: 5px;
  background-image: url(../img/ok-arrow.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/* Star Rating */

.product-info__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 15px;
}

.star-rate__item {
  display: block;
  width: 17px;
  height: 17px;
  background-image: url('../img/star_icon.png');
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.star-rate__item.active {
  background-image: url('../img/star_icon_active.png');
}

.star-rate__item:not(:last-child) {
  margin-right: 5px;
}

/* Radio Size */

.size-chooser {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(0, 21, 36, 0.1);
  margin-bottom: 20px;
}

.size-chooser__item {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.size-chooser__label {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 4px 12px;
  border: 1px solid rgba(0, 21, 36, 0.1);
  border-radius: 4px;
  cursor: pointer;
}

.size-chooser__label:not(:nth-last-child(1)) {
  margin-right: 15px;
}

.size-chooser__item:checked + .size-chooser__label {
  border: 1px solid var(--color-base);
}

/* Radio Color */

.color-chooser {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(0, 21, 36, 0.1);
  margin-bottom: 20px;
}

.color-chooser__input {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.color-chooser__label {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  cursor: pointer;
}

.color-chooser__label:not(:nth-last-child(1)) {
  margin-right: 15px;
}

.color-chooser__label--black {
  color: var(--color-verydark);
  background-color: var(--color-verydark);
}

.color-chooser__label--mint {
  color: var(--color-lightgrayishcyan);
  background-color: var(--color-lightgrayishcyan);
}

.color-chooser__label--yellow {
  color: var(--color-verylightyellow);
  background-color: var(--color-verylightyellow);
}

.color-chooser__label--purple {
  color: var(--color-lightgrayishviolet);
  background-color: var(--color-lightgrayishviolet);
}

.color-chooser__label--red {
  color: var(--color-strongred);
  background-color: var(--color-strongred);
}

.color-chooser__label--beige {
  color: var(--color-lightgrayishorange);
  background-color: var(--color-lightgrayishorange);
}

.color-chooser__input:checked + .color-chooser__label::after {
  position: relative;
  content: '';
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 38px;
  height: 38px;
  bottom: 4px;
  right: 4px;
  border-radius: 4px;
  border: 1px solid currentColor;
}

/* Characteristics Block */

.product-info__characteristics {
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(0, 21, 36, 0.1);
  margin-bottom: 20px;
}

.product-info__characteristics-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
}

.product-info__subtitle--characteristics {
  margin-bottom: 0;
}

.data-list {
  margin: 0;
  padding: 0;
}

.data-list__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.data-list__row:not(:nth-last-child(1)) {
  margin-bottom: 7px;
}

.data-list__row dt {
  font-family: 'M PLUS 1p', 'Arial', sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--color-darkgrayishblue);
}

.data-list__row dd {
  margin: 0;
}

.price-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 35px;
}

.price-list dt {
  font-family: 'M PLUS 1p', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

.price-list dd {
  margin: 0;
  font-family: 'M PLUS 1p', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}

.product-info__button--border {
  margin-top: 20px;
}

/* Tabs */

.tab-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid rgba(0, 21, 36, 0.1);
  font-family: "M PLUS 1p", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
}

.tab-list__item {
  cursor: pointer;
  line-height: 27px;
  color: var(--color-darkgrayishblue);
  
}

.tab-list__item:not(:nth-last-child(1)) {
  margin-right: 45px;
}

.tab-list__item--active {
  padding-bottom: 16px;
  color: var(--color-base);
  border-bottom: 3px solid var(--color-base);
}

/* Article */

.article {
  display: none;
  padding-top: 30px;
}

.article--active {
  display: block;
}

.article p {
  max-width: 75%;
  margin: 0;
  color: var(--color-base);
  font-family: 'M PLUS 1p', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.article p:not(:last-child) {
  margin-bottom: 0.6em;
}